
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.6;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
ol, ul {
	list-style: none;
}
br{
    display: block; /* makes it have a width */
            content: ""; /* clears default height */
            margin-top: 0;
    }
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
  max-width: 100%;
  width: 100%;
}
a {
	outline: none;
}
* {
      box-sizing: border-box;
    }
    body{

    padding:0;
    width: auto;
    margin: auto;
}
.container{
    width: 100%;
    background: white
}
header{
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%), url(../images/headerbg.png);
    background-repeat: no-repeat;
    display: block;
}
.Menu{
    width: 100%;
    display:inline-block;
    text-align: center;
    padding: 5px 0;
}
.Menu__menu{
    margin: 0 auto;
    align-items: center;
width: 70%;
    height: 100%;
    right: 0%;
    justify-content: space-between;
    display: flex;
    list-style: none;
}
.Menu__menu li a{
    font-family: Lato;
    text-decoration: none;
    font-weight: bolder;
    color: #c3a281;
}
.Menu__menu li a:hover{
    text-decoration: underline;
    text-decoration-color: #c3a281;
    text-underline-position:under;
    color: white;
}
/*dinh dang slider*/
    nav .slider {
        display: block;
        width: 65%;
        margin: 100px auto;
    }
    nav .slick-dots {
     position: relative; 

    display: block;
    width: 100%;
    padding-bottom: 30px;
    margin-top: 15%;
    list-style: none;
    text-align: center;
}
nav .slick-dots li button::before {
    font-family: slick;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
}
nav .slick-dots li.slick-active button:before {
    opacity: 1;
    font-size: 25px;
    color: #c3a281;
}
   nav .slick-slide {
      margin: 0px 20px;
    }

    nav .slick-slide img {
      width: 100%;
    }

    nav .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
    nav{
        width: 100%;
    }
    nav__slider{
        width: 100%;
    }
    .itemheadslider{
        width: 100%;
        height:100%;
        text-align: center;
        
    }
    .itemheadslider .welcome{
        font-family: 'Pacifico', cursive;
        color: #fff;
        font-size: 50px;
    }
    .itemheadslider .title{
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 80px;
    }
    .itemheadslider .content{
        font-family: 'Lato', sans-serif;
        color: white;
        font-size: 25px;
    }
    .itemheadslider img{
        border-radius: 10px;
        
    }
    