/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 22, 2020, 4:04:19 PM
    Author     : LONG
*/
.main{
    width: 100%;
    height:2300px;
    margin:auto;
/*    z-index: -1;*/
    
    
}
.main #listsp{
    clear: both;
    width: 100%;
    height: 70%;
}
.main #listsp .decu{
    float: top;
    
}
.main #listsp .hot{
    margin-top: 1000px
   
}
.main #listsp h2{
    padding-left: 10px;
}
.main #listsp ul{
    list-style: none;
    padding-top: 20px;
    padding-left: 8px;
}
.main #listsp ul li{
    right:-5%;
    float: left;
    width: 180px;
    height: 330px;
    padding:7px;
    text-align: left;
    position: relative;
    boder: 1px #0000FF solid;
    margin: 2px;
    background-color: white
}
.main #listsp ul li a{
    text-decoration: none;
    color: #333;
}
.main #listsp ul li img{
    width: 120px;
    height: 120px;
    padding: 35px 10px;
    z-index: 1;
    margin-left: 20px
}
.main #listsp ul li h6{
    
    font-family: arial;
    float: top;
    word-break: break-all
}
.main #listsp ul li h8{
    float:bottom;
    margin-bottom: 5px;
    position: relative;
    padding-right: 6px
}
.main #listsp ul li #km{
    position: absolute;
    top: 10px;
    left: 7px;
    font-size: 14px;
    padding: 3px 10px 3px 4px;
    background: #ff6a00;
    color: #fff;
    border: 1px #ff6a00 solid;
    border-radius: 0 300px 300px 0;
}
.main #listsp li:hover #km{
    display:none;
}
.a {    z-index: 1;
            transition: all 1s ease;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
}
 
        .a:hover {
            transform: scale(1.5,1.5);
            -webkit-transform: scale(1.5,1.5);
            -moz-transform: scale(1.5,1.5);
            -o-transform: scale(1.5,1.5);
            -ms-transform: scale(1.5,1.5);
}

